[submodule "noldaCoreRType/firmware/c/pico-sdk"]
	path = noldaCoreRType/firmware/c/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "noldaCoreRType/firmware/c/sp-pico-sdk"]
	path = noldaCoreRType/firmware/c/sp-pico-sdk
	url = https://github.com/ChrisChrisLoLo/pico-sdk.git
[submodule "noldaCoreRType/firmware/c/FreeRTOS-Kernel"]
	path = noldaCoreRType/firmware/c/freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "noldaCoreRType/firmware/c/u8g2/u8g2"]
	path = noldaCoreRType/firmware/c/u8g2
	url = https://github.com/olikraus/u8g2.git
